<div class="qn-container">
    <div class="question-number selected">1</div>
    <div class="question-number">2</div>
    <div class="question-number">3</div>
    <div class="question-number">4</div>
    <div class="question-number">5</div>
    <div class="question-number">6</div>
    <div class="question-number">7</div>
    <div class="question-number">8</div>
    <div class="question-number">9</div>
    <div class="question-number">10</div>
    <div class="question-number">11</div>
    <div class="question-number">12</div>
    <div class="question-number">13</div>
    <div class="question-number">14</div>
    <div class="question-number">15</div>
    <div class="question-number">16</div>
    <div class="question-number">17</div>
    <div class="question-number">18</div>
    <div class="question-number">19</div>
    <div class="question-number">20</div>
    <div class="question-number">21</div>
    <div class="question-number">22</div>
    <div class="question-number">23</div>
    <div class="question-number">24</div>
    <div class="question-number">25</div>
    <div class="question-number">26</div>
    <div class="question-number">27</div>
    <div class="question-number">28</div>
    <div class="question-number">29</div>
    <div class="question-number">30</div>
    <div class="question-number">31</div>
</div>