<div class="qa-container">
    <p>Question 1<br>Turning and acceleration errors are caused by?</p>
    <div class="radio-option">
        <input type="radio" name="question1" id="q1-option1" value="Horizontal Component of Earth's Magnetic Field">
        <label for="q1-option1">Horizontal Component of Earth's Magnetic Field</label><br>
    </div>
    <div class="radio-option">
        <input type="radio" name="question1" id="q1-option2" value="Vertical Component of Earth's Magnetic Field">
        <label for="q1-option2">Vertical Component of Earth's Magnetic Field</label><br>
    </div>
    <div class="radio-option">
        <input type="radio" name="question1" id="q1-option3" value="Total Earth's Magnetic Field">
        <label for="q1-option3">Total Earth's Magnetic Field</label>
    </div>
</div>